div {
    display: block;
}

.container {
    display: flexbox;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.logo {
    height: 80px;
}

.nav_brand {
    padding-left: 40px;
    width: 20%;
    float: left;
}

.main_nav {
    width: 30%;
    float: left;
}

.main-menu {
    display: flex;
    padding-top: 20px;
    font-size: 30px;
}

a {
    text-transform: capitalize;
    outline: none;
    text-decoration: none;
    color: #222;
}

.nav-menu>li {
    display: inline;
    float: left;
    list-style: none;
    margin-right: 50px;
}

.intro {
    font-size: 25px;
}

.minner {
    display: flex;
    flex-direction: column;
    padding: 20px 80px 20px 80px;
    height: max-content;
}

.rowbox {
    display: flex;
    height: auto;
}

.item {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
}

p {
    text-indent: 30px;
}

.item p {
    font-size: 20px;
    text-align: center;
    text-indent: 0px;
}

.item img {
    display: block;
    padding: auto;
    margin: auto;
    height: 100px;
}

table {
    width: 100%;
    padding: auto;
    border: 1px solid gray;
    border-collapse: collapse;
}

thead,
tfoot {
    background-color: lavender;
}

tbody {
    background-color: lightyellow;
}

th,
td {
    border: 1px solid gray;
    padding: 5px;
}